*.o
initium
initium.exe
initium_debug
initium_debug.exe
tests/test_kernels
tests/test_kernels.exe
tests/test_tokenizer
tests/test_tokenizer.exe
models/*.bin
models/*.gguf
testdata/*.bin
.DS_Store

__pycache__/
*.pyc
tl_err.txt
*.gguf